<h1><%= @player_hand %></h1>
<h2>Player</h2>
<p>Bankroll: $<%= @bankroll %></p>
<p>value:</p>
<%= @value %>
<form action="/.blackjack/hit" method="post">
  <button name="player_action" value="hit" >Hit</button>
</form>

<form action="/blackjack/stay" method="get">
  <button name="player_action" value="stay" action="/blackjack/stay">Stay</button>
</form>

<h2>Dealer</h2>
<h3><%= @dealer_hand %></h3>

<h1><%= @outcome %></h1>